body {
  position: relative;
}
main {
  margin: 2vw auto;
    background-color: #B5C7D3
}
*, *:before, *:after {
  box-sizing: border-box;
}
  .bigbox{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
     grid-template-rows: 370px;
     grid-auto-rows: 340px;
     grid-auto-columns: 200px;
  }

   .w > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
